
@{
    ViewBag.Title = "Başarıyla Kayıt olundu";
}

<body>
   
        <div class="simpleslide100">
            <div class="simpleslide100-item bg-img1" style="background-image: url('../Comingsoon/images/IMG_8423.JPG');"></div>
            <div class="simpleslide100-item bg-img1" style="background-image: url('../Comingsoon/images/bg01.jpg');"></div>
            <div class="simpleslide100-item bg-img1" style="background-image: url('../Comingsoon/images/bg02.jpg');"></div>
            <div class="simpleslide100-item bg-img1" style="background-image: url('../Comingsoon/images/bg03.jpg');"></div>
        </div>

        <div class="size-full overlay1">
            <!--  -->
            <div class="size1 flex-col-c-m p-l-15 p-r-15 p-t-50 p-b-50">
                <h3 class="l1-txt1 txt-center p-b-25">
                    Aramıza Hoşgeldİn!
                </h3>

                <p class="m2-txt1 txt-center p-b-48">
                    En güzel Fitkutu kampanyalarından artık haberdar olacaksın!
                </p>

                <div class="flex-w flex-c-m cd100 p-b-33">
                    <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                        <span class="l2-txt1 p-b-9 days">35</span>
                        <span class="s2-txt1">Gün</span>
                    </div>

                    <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                        <span class="l2-txt1 p-b-9 hours">17</span>
                        <span class="s2-txt1">Saat</span>
                    </div>

                    <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                        <span class="l2-txt1 p-b-9 minutes">50</span>
                        <span class="s2-txt1">Dakika</span>
                    </div>

                    <div class="flex-col-c-m size2 bor1 m-l-15 m-r-15 m-b-20">
                        <span class="l2-txt1 p-b-9 seconds">39</span>
                        <span class="s2-txt1">Saniye</span>
                    </div>
                </div>

            </div>
        </div>
    }




    <!--===============================================================================================-->
    <script src="../Comingsoon/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Comingsoon/vendor/bootstrap/js/popper.js"></script>
    <script src="../Comingsoon/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Comingsoon/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="../Comingsoon/vendor/countdowntime/moment.min.js"></script>
    <script src="../Comingsoon/vendor/countdowntime/moment-timezone.min.js"></script>
    <script src="../Comingsoon/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
    <script src="../Comingsoon/vendor/countdowntime/countdowntime.js"></script>
    <script>
            $('.cd100').countdown100({
                /*Set Endtime here*/
                /*Endtime must be > current time*/
                endtimeYear: 0,
                endtimeMonth: 0,
                endtimeDate: 35,
                endtimeHours: 18,
                endtimeMinutes: 0,
                endtimeSeconds: 0,
                timeZone: ""
                // ex:  timeZone: "America/New_York"
                //go to " http://momentjs.com/timezone/ " to get timezone
            });
    </script>
    <!--===============================================================================================-->
    <script src="../Comingsoon/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
            $('.js-tilt').tilt({
                scale: 1.1
            })
    </script>
    <!--===============================================================================================-->
    <script src="../Comingsoon/js/main.js"></script>

</body>


